html {
  height: 100%;
}
body {
  min-height: 100%;
  margin:0 auto;
}



/*---------------PJESA E HOMEPAGE-----------------*/
.centerClass{
  display: flex;
  align-items: center;
}
#logo {
  padding-left: 40px;
  width: 100px;
  color: white;
}
#logo img {
  height: 30px;
  margin-right: 10px;
}
#navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f4acb7;
  color: white;
}
#navUl {
  justify-content: space-between;
  width: 350px;
  padding-right: 40px;
}
#navUl a {
  text-decoration: none;
  color: white;
}
#navUl a:hover {
  cursor: pointer;
  color: #b7b7a4;
  font: bold;
}
.userProfile {
  width: 25px;
}
#homepageContainer {
  width: 100%;
  
}
.homepageSlider {
  height: 350px;
  width: 100%;
  justify-content: center;
  background-color: #b7b7a4;
}
#exploreCakess{
  display: flex;
  height: 600px;
  justify-content: center;
}
.middleContent{
  flex-direction:column;
  width: 900px;
 
}
.middleContent h1{
  margin: 60px 0 50px 0;
}
.exploreThem{
  width: 100%;
  height: 200%;
  display: flex;
  justify-content: space-between;
}
.exploreKatrori{
  width: 270px;
  height: 320px;
  border-radius: 20px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0cm;
  justify-content: center;
}
.firstSquare{
  background-image: url("../images/chokocake.jpg");
}
.secondSquare{
  background-image: url("../images/waffle.jpg");
}
.thirdSquare{
  background-image: url("../images/cup3.jpg");
}

.exploreKatrori a{
  margin-top: 130px;
  text-decoration: none;
  color: white;
  height: 70px;
  
}

footer{
  height: 160px;
  background-color: #f4acb7;
  display: flex;
}

.contactOn{
  margin: auto;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  color: white;
}
.footerIcons{
justify-content: space-between;
width: 100%;
}


/*---------------PJESA E CATEGORIES-----------------*/

/*---------------PJESA E MENU-----------------*/

/*---------------PJESA E ORDER-----------------*/

/*---------------PJESA E CONTACT-----------------*/

/*---------------PJESA E ABOUT US-----------------*/

































































































































































































/*---------------PJESA E MENU----------------*/
.fotoMenu{
  background-image: url(../Images/FoodMenuFoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
  width: 100%;
  height: 320px;
  justify-content: center;
  align-items: center;
  padding: 0%;

}
.fotoMenu  h1{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  display: block;
  padding: 140px;
  font-size: 1.5rem;
  margin: 0 auto;

}
.teksti{
  text-align: center;
  justify-content: center;
}

.textCategory{
color: rgb(141, 53, 126);
}

.dessMenu{width: 100%;
height: 150px;
justify-content: center;
align-items: center;
  background-color: #FFE5D9;
}

.dessMenu h3{
font-size:40px;
text-align: center;
margin:0 auto;
padding: 60px;
}
.menu{
background-color: #FFE5D9;
width: 100%;
height: 1000px;
  
}
.elementet{
  display: flex;
  justify-content: center;
  align-items: center;

}
.kolona1{
  height: 300px;
  flex-direction: column;  
}

.kolona2{
  height: 300px;
  flex-direction: column;
}
.k1{

width: 600px;
margin: 20px;
height: 200px;
margin-bottom: 60px;
border-radius: 25px;
display: flex;
padding: 20px;
background-color: white;
}


.fotojaKatrore{
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.fotojaKatrore img{
  width: 150px;
  height: 150px;
  border-radius: 25px;
}


.data{

  width: 380px;
  height: 200px;
  margin-left: 20px;
}

.data p{
  font-size: 20px;
}

.butoniOrder{
  margin-top: 40px;
  margin-left: 290px;
  width: 90px;
  height: 40px;
  border-radius: 14px;
  background-color: #FFCAD4;
  border:none;
  cursor: pointer;
  
}



































































































































































































/*---------------PJESA E ORDER-----------------*/

.fotojaBack{
  width: 100%;
  height: 1500px;
  background-image: url(../Images/pink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.katrori1{ 
  height: 200px;
  margin-right: 350px;
margin-left: 350px;
display: flex;
border-color:#9D8189 ;
border-radius: 5px;
border-style: solid;
}

.katrori2{
  margin-top: 30px;
  margin-right: 350px;
margin-left: 350px;
  height: 570px;
border-color:#9D8189;
border-radius: 5px;
border-style: solid;

}

.menuImg{
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 25px;
  
}

.menuImg img{
  width: 120px;
  height: 120px;
  border-radius: 25px;
}

.menuData{
  margin-left: 40px;

}

.menuData p{
  font-weight: bold;
  font-size: 20px;
}

.sasia{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;

}

.inputiSasia{
  width: 96%;
  height: 30px;
  border:none;
  border-radius: 5px;
  font-size: 15px;
}

.adresa{
  width: 96%;
  height: 200px;
  border-radius: 5px;
  border:none;
  font-size: 15px;

}

.confirmOrder{
  width: 96%;
  height: 40px;
  margin-top: 20px;
  font-size: 17px;
  background-color:#ec7c8d ;
  border: none;
  color: white;
}







































































































































































































/*---------------PJESA E CONTACT-----------------*/

.contact_photo img{
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: 60%;
  background-repeat: no-repeat;
  background-color: rgb(167 127 164 / 40%);
  background-blend-mode: multiply;
}

.all_unit{
  display: block;
  grid-gap: 30px;
  padding-bottom: 60px;
  background-color: #d8e2dc;
}

.contact_unit{
display: flex;
padding: 3% 5%;
grid-gap: 60px;
}

.contact{
width: 60%;
}

.contact_info{
width: 40%;
padding-left: 60px;
}

.contact_info h3{
  font-size: 18px;
  padding-bottom: 20px;
}

p{
margin: 0;
}

.contact_bottom{
padding: 25px;
background: #eee;
border-radius: 6px;
text-align: center;
}

#open_hours{
  margin: 0;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 10px;
}

.top h3{
  font-size: 18px;
  padding-bottom: 20px;
}

.form_control{
display: grid;
margin-bottom: 15px;
font-size: 16px;
width: 100%;
color: #000;
}

.form_unit{
  display: flex;
  grid-gap: 30px;
}

.btn_send{
  font-size: 16px;
  padding: 8px 30px;
  border: none;
  background: #106c34;
  color: #fff;
  margin-top: 15px;
  font-weight: 500;
}

.btn_send:hover{
  background: #00722c;
}

label{
  font-size: 14px;
  padding-bottom: 5px;
}

input{
  height: 32px;
  font-size: 16px;
}

textarea{
  font-size: 16px;
}

























































































































































.content{
  display: block;
  background-color: lightgoldenrodyellow;
  padding-bottom: 50px;
}


#text, #text1, #text2{
margin: 0;
padding: 0;
font-size: 15px;
line-height: 1.5;
}

#about_title{
margin: 0;
padding-bottom: 20px;
}

.first-row{
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-direction: row;
  margin-bottom: 15px;
  grid-gap: 25px;
}

.second-row{
  display: flex;
  justify-content: space-evenly;
  align-content: space-between;
  flex-direction: row;
  grid-gap: 25px;
}

.photos{
  height: 200px;
  width: 200px;
}

.about_left{
  padding: 3.5% 5%;
}

.flexbox-container{
  margin: 0% 5%;
}
































































































































































































































































































































































































/*---------------PJESA E REGISTER-----------------*/
#registerContainer{
  border: 1px solid black;
  height: 575px;
  background-image: url("../images/jasmine.jpg");
  background-repeat: no-repeat;
  background-position: 0cm;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}
.registerForm{
  border: 2px solid green;
  height: 460px;
  width: 380px;
  color: white;
  background-image: url("../Images/graybg.jpg");
  opacity: 80%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
 
}
.reg{
  border: 1px solid red;
  width:320px;
  height: 440px;
}

/*---------------PJESA E LOGIN-----------------*/
