html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0 auto;
}
/*---------------PJESA E HOMEPAGE-----------------*/
#logo{
  padding-left: 40px;
  display: flex;
  width: 100px;
  align-items: center;
  color: white;
}
#logo img{
  height: 30px;
  margin-right: 10px;
}
#navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #9d8189;
  color: white;
}
#navUl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    padding-right: 40px;
    
}
#navUl a{
  text-decoration: none;
  color: white;

}
#navUl a:hover{
  cursor: pointer;
  color: #b7b7a4;
  font: bold;
}
.userProfile{
  width: 25px;
}























































































































































/*---------------PJESA E CATEGORIES-----------------*/





































































































































































































/*---------------PJESA E MENU----------------*/
.fotoMenu{
  background-image: url(../Images/FoodMenuFoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center ;
  width: 100%;
  height: 320px;
  justify-content: center;
  align-items: center;
  padding: 0%;

}
h1{
  color: rgb(255, 255, 255);
  font-size: 2rem;
  display: block;
  padding: 140px;
  font-size: 1.5rem;
  margin: 0 auto;

}
 .teksti{
  text-align: center;
  justify-content: center;
 }

 .textCategory{
color: rgb(141, 53, 126);
 }

 .dessMenu{
   width: 100%;
   height: 150px;
   justify-content: center;
   align-items: center;
  background-color: #FFE5D9;

 }
 
 h3{
   font-size:40px;
   text-align: center;
   margin:0 auto;
   padding: 60px;
 }
.menu{
  background-color: #FFE5D9;
  width: 100%;
  height: 1000px;
  
}
.elementet{
  display: flex;
  justify-content: center;
  align-items: center;

}
.kolona1{
  height: 300px;
  flex-direction: column;  
}

.kolona2{
  height: 300px;
  flex-direction: column;
}
.k1{

width: 600px;
margin: 20px;
height: 200px;
margin-bottom: 60px;
border-radius: 25px;
display: flex;
padding: 20px;
background-color: white;
}


.fotojaKatrore{
 
  width: 150px;
  height: 150px;
 border-radius: 25px;
}

.fotojaKatrore img{
  width: 150px;
  height: 150px;
  background-size: contain;
  border-radius: 25px;

}
 
.data{
 
  width: 380px;
  height: 200px;
  margin-left: 20px;

}

.data p{
  font-size: 20px;
}

.butoniOrder{
  margin-left: 290px;
  width: 90px;
  height: 40px;
  border-radius: 14px;
  background-color: #FFCAD4;
  border:none;
  cursor: pointer;
  
}




































































































































































































.fotojaBack{
  width: 100%;
  height: 1500px;
  background-image: url(../Images/pink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.katrori1{ 
  height: 200px;
  margin-right: 350px;
margin-left: 350px;
display: flex;
border-color:#9D8189 ;
border-radius: 5px;
border-style: solid;
}

.katrori2{
  margin-top: 30px;
  margin-right: 350px;
margin-left: 350px;
  height: 570px;
border-color:#9D8189;
border-radius: 5px;
border-style: solid;

}

.menuImg{
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 25px;
  
}

.menuImg img{
  width: 120px;
  height: 120px;
  border-radius: 25px;
}

.menuData{
  margin-left: 40px;

}

.menuData p{
  font-weight: bold;
  font-size: 20px;
}

.sasia{
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;

}

.inputiSasia{
  width: 96%;
  height: 30px;
  border:none;
  border-radius: 5px;
  font-size: 15px;
}

.adresa{
  width: 96%;
  height: 200px;
  border-radius: 5px;
  border:none;
  font-size: 15px;

}

.confirmOrder{
  width: 96%;
  height: 40px;
  margin-top: 20px;
  font-size: 17px;
  background-color:#ec7c8d ;
  border: none;
  color: white;
}







































































































































































































/*---------------PJESA E CONTACT-----------------*/







































































































































































































/*---------------PJESA E ABOUT US-----------------*/







































































































































































































/*---------------PJESA E REGISTER-----------------*/







































































































































































































/*---------------PJESA E LOGIN-----------------*/