@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap");

html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0 auto;
}

/*---------------PJESA E HOMEPAGE-----------------*/
.centerClass {
  display: flex;
  align-items: center;
}
#logo {
  padding-left: 40px;
  width: 100px;
  color: white;
}
#logo img {
  height: 30px;
  margin-right: 10px;
}
#navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #f4acb7;
  color: white;
}
#navbar #navUl {
  justify-content: space-between;
  width: 400px;
  padding-right: 40px;
  display: flex;
  align-items: center;
}
#navbar #navUl a {
  text-decoration: none;
  color: white;
}
#navbar #navUl a:hover {
  cursor: pointer;
  color: #b7b7a4;
  font: bold;
}
.userProfile {
  width: 25px;
}
.toggle-buttonn{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-buttonn .barr{
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
#homepageContainer {
  width: 100%;
}
/*---------------Pjesa e img slider-----------------*/
.homepageSlider {
  position: relative;
  height: 460px;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.homepageSlider .slide {
  z-index: 1;
  position: absolute;
  width: 100%;
  font-family: "Poppins", sans-serif;
  clip-path: circle(0.5% at 0 50%);
}
.homepageSlider .slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}
.homepageSlider .slide img {
  z-index: 1;
  width: 100%;
  height: 460px;
  object-fit: cover;
}
.homepageSlider .slide .sliderInfo {
  position: absolute;
  top: 0;
  padding: 15px 40px;
}
.homepageSlider .slide .sliderInfo h2 {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
}
.homepageSlider .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.homepageSlider .navigation .btn {
  background: rgba(255, 255, 255, 5);
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.homepageSlider .navigation .btn.active {
  background: #2696e9;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

 


/*---------------fundi i img slider-----------------*/
#exploreCakess {
  display: flex;
  height: 100%;
  margin: 0 40px 70px 40px;
  justify-content: center;
}
.middleContent {
  flex-direction: column;
  width: 100%;
  
}
.middleContent h1 {
  margin: 60px 0 50px 0;
}
.exploreThem {
  height: 320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.exploreKatrori {
  width: 270px;
  height: 320px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 3px;
}
.exploreKatrori img{
  width: 270px;
  height: 320px;
  border-radius: 20px;
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0cm;
  justify-content: center;
  margin: 3px;
  
}



.exploreKatrori a {
  color: white;
  position: absolute;
  margin-top: 130px;
  text-decoration: none;
  text-align: center;
}


footer {
  height: 160px;
  background-color: #f4acb7;
  display: flex;
}

.contactOn {
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  width: 600px;
  color: white;
}
.footerIcons {
  justify-content: space-around;
  width: 100%;
}



.exKatrori {
  flex-wrap: wrap;
  width: 80%;
  height: 200%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#pjesaCakes {
  display: flex;
  height: 1250px;
  justify-content: center;
}


/* per tablet */

/*---------------PJESA E MENU----------------*/

.fotoMenu {
  background-image: url(../Images/FoodMenuFoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.fotoMenu h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  display: block;
  padding: 140px;
  font-size: 1.5rem;
  margin: 0 auto;
}
.teksti {
  text-align: center;
  justify-content: center;
}

.textCategory {
  color: rgb(141, 53, 126);
}

.dessMenu {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #ffe5d9;
}

.dessMenu h3 {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  padding: 60px;
}
.menu {
  background-color: #ffe5d9;
  width: 100%;
  height: 1000px;
}
.elementet {
  display: flex;
  justify-content: center;
  align-items: center;
}
.kolona1 {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  
  flex-direction: row;
}


.k1 {
  border: 1px solid gray;
  width: 484px;
  margin: 20px;
  height: 200px;
  margin-bottom: 60px;
  border-radius: 25px;
  display: flex;
  padding: 20px;
  background-color: white;
}

.fotojaKatrore {
  width: 150px;
  height: 150px;
  border-radius: 25px;
}

.fotojaKatrore img {
  width: 150px;
  height: 150px;
  border-radius: 25px;
  object-fit: cover;
}

.data {
  width: 300px;
  height: 160px;
  margin-left: 20px;
}

.data p {
  font-size: 18px;
}

.butoniOrder {
  margin-top: 11px;
  margin-left: 200px;
  width: 90px;
  height: 40px;
  border-radius: 14px;
  background-color: #ffcad4;
  border: none;
  cursor: pointer;
}



/*---------------PJESA E ORDER-----------------*/

.fotojaBack {
  width: 100%;
  height: 1000px;
  background-image: url(../Images/pink.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.fotojaBack h3 {
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4%;
  padding-top: 60px;
}
.katrori1 {
  height: 200px;
  margin-right: 350px;
  margin-left: 350px;
  display: flex;
  border-color: #9d8189;
  border-radius: 5px;
  border-style: solid;
}
.legjenda {
  font-size: 20px;
  margin-bottom: 20px;
}

#katrori2 {
  margin-top: 90px;
  margin-right: 350px;
  margin-left: 350px;
  height: 400px;
}

.menuImg {
  margin-top: 10px;
  width: 120px;
  height: 120px;
  border-radius: 25px;
}

.menuImg img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 25px;
}

.menuData {
  margin-left: 40px;
}

.menuData p {
  font-weight: bold;
  font-size: 20px;
}

.sasia {
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

.inputiSasia {
  width: 96%;
  height: 30px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
}

.adresa {
  width: 96%;
  height: 200px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
}

.confirmOrder {
  width: 96%;
  height: 40px;
  margin-top: 40px;
  font-size: 17px;
  background-color: #ec7c8d;
  border: none;
  color: white;
}

.confirmOrder:hover {
  background-color: white;
  color: black;
  border: 2px solid #ec7c8d;
}




























































































































































































/*---------------PJESA E CONTACT-----------------*/

.all_unit{
  display: block;
  padding-bottom: 60px;
  background-color: #d8e2dc;
}

.contact_unit{
display: flex;
align-items: center;
padding: 3% 5%;
margin: 0 5% 0 5%;
}

.contact_textarea{
max-width: 100%;
}

.contact{
width: 60%;
}

.contact_info{
width: 40%;
padding-left: 60px;
}

.contact_info h3{
  margin: 0;
  padding-top:0;
  font-size: 18px;
  padding-bottom: 20px;
}

.contact_bottom{
padding: 25px;
background: #eee;
border-radius: 6px;
text-align: center;
}

#open_hours{
  margin: 0;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 10px;
}

.top h3{
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding-bottom: 20px;
}

#address p{
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 4px !important;
}

#info p{
  margin: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 4px !;
}


.form_control{ 
  display: flex;
  margin-bottom: 15px;
  margin-right: 30px;
  font-size: 16px;
  width: 100%;
  color: #000;
  flex-direction: column;
}

.form_unit {
  display: flex;
}


.btn_contact{
  text-align: center;
  font-size: 16px;
  padding: 8px 30px;
  border: none;
  background: #106c34;
  color: #fff;
  margin-top: 15px;
  font-weight: 500;
}

.btn_contact:hover{
  background: #00722c;
}

input.invalid {
  border: 1px solid red;
}

.error-hint{
  color: red;
  font-size: 14px;
  margin-top: 6px;
}

.hidden{
  display: none;
}

.thank-you{
  padding: 40px;
  font-size: 32px;
  text-align: center;
}

.error-border{
  border-bottom: 1px solid red;
}

#source {
  color: #28A745;
}


label{
  font-size: 14px;
  padding-bottom: 5px;
}


.contact_input{
  height: 32px;
  font-size: 16px;
}

.contact_textarea{
  margin-right: 30px;
  font-size: 16px;
}

@media (max-width: 1000px){
  .contact_unit{
    flex-direction: column;
    margin-bottom: 15px;
  }
  .contact{
    width: 90%;
  }   
  .contact_info{
    padding-top: 40px;
    padding-left:0 !important;
  }

  .contact_unit{
    align-items: flex-start;
  }


}

@media (max-width: 740px){
  .form_unit{
    flex-direction: column;
  }

  .contact_info{
    padding-top: 40px;
    padding-left:0 !important;
  }

  .contact_unit{
    align-items: flex-start;
  }

  .contact_textarea {
    margin-right: 0;
  }

  .contact{
    width: 85%;
  }

}
















































































































































/*---------------PJESA E ABOUT US-----------------*/

.content{
  background-color: rgb(238, 223, 232);
  padding-bottom: 50px;
}

#text, #text1, #text2{
margin: 0;
padding: 0;
font-size: 15px;
line-height: 1.5;
text-align: justify;
}

#about_title{
margin: 0;
padding-bottom: 20px;
}

.photos{
  height: 180px;
  width: 200px;
  border-radius: 15px;
  object-fit: cover;
  margin: 15px;
}


.about_container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15%;
  padding-right: 15%;
}

.nested_about{
  width: 70%;
  padding-top: 35px;
  padding-bottom: 40px;
}

.about_content {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 992px) and (max-width: 1280px) {
  .nested_about {
    width: 85%;
  }
}
@media screen and (min-width: 811px) and (max-width: 991px) {

  .nested_about {
    width: 80%;
  }
}
@media screen and (min-width: 500px) and (max-width: 810px) {
  .nested_about {
    width: 90%;
  }
}
@media screen and (max-width: 499px) {
  .nested_about {
    width: 90%;
    padding-top: 20px;
    padding-bottom: 30px;
  }


  .photos {
    height: 180px;
    width: 280px;
    object-fit: cover;
  }
}

/*---------------PJESA E REGISTER-----------------*/
#registerContainer {
  border: 1px solid black;
  height: 575px;

  background-repeat: no-repeat;
  background-position: 0cm;
  background-size: cover;
  justify-content: center;
  display: flex;
  align-items: center;
}
.registerBg {
  background-image: url("../images/jasmine.jpg");
}
.loginBg {
  background-image: url("../images/jasmine.jpg");
}
.registerForm {
  border: 2px solid #344e41;
  color: white;
  background-image: url("../Images/graybg.jpg");
  opacity: 90%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.regSz {
  margin-top: -30px;
  width: 380px;
  height: 500px;
}
.logSz {
  height: 400px;
  width: 380px;
}
.errorInput {
  color: #faa307;
  font-weight: bold;
  margin: 5px 0 5px 0;
}
.errorInputReg {
  color: #faa307;
  font-weight: bold;
  margin: 3px 0 -12px 0;
}
.reg {
  width: 320px;
  height: 440px;
  display: flex;
  flex-direction: column;
}
.inputReg {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -20px;
}
.inputReg input {
  font-size: 15px;
  padding: 4px;
  margin-top: -10px;
  border-radius: 3px;
}
.inputReg p {
  font-size: 17px;
  font-weight: 550;
}
.reg h2 {
  align-self: center;
}
.reg button {
  align-items: center;
  height: 38px;
  background-color: #4f772d;
  color: white;
  border: 1px solid black;
  margin: 22px 0 10px 0;
  font-weight: 550;
  border-radius: 4px;
}
.reg button:hover {
  background-color: #8cb369;
}
.reg a {
  color: #8cb369;
}
#alr {
  font-weight: 200;
  margin-top: -2px;
}
#alrglog {
  font-weight: 200;
  margin-bottom: 20px;
}
.logp input {
  font-size: 15px;
  padding: 4px;
  margin-top: -10px;
  border-radius: 3px;
}
.logp p {
  font-size: 17px;
  font-weight: 550;
}

/*---------------MAKING THE WEBPAGE RESPONSIVE-----------------*/


/*per tablet*/
@media only screen and (max-width:768px){
  .homepageSlider {
    width: 100%;
    height: 250px;
    margin-bottom: 200px;
  }
  .homepageSlider .slide .sliderInfo {
    padding: 10px 35px;
  }
  .homepageSlider .slide .sliderInfo h2 {
    font-size: 25px;
  }
  .homepageSlider .navigation {
    top: 385px;
  }
  .homepageSlider .navigation .btn {
    width: 10px;
    height: 10px;
    margin: 8px;
  }

  /*PJESA E HOMEPAGE*/

  #logo {
    padding-left: 33px;
    width: 80px;
  }
  #logo img {
    height: 25px;
    margin-right: 10px;
  }
  #navbar {
    height: 50px;
  }
  #navbar #navUl {
    justify-content: space-between;
    width: 320px;
  }

  .middleContent h1 {
    font-size: 25px;
  }
  .exploreThem {
    width: 100%;
    height: 100%;
  }
  .exploreKatrori {
    width: 200px;
    height: 230px;
  }

  .exploreKatrori a {
    margin-top: 90px;
  }
  
  footer {
    height: 120px;
  }
  
  .contactOn {
    width: 400px;
  }

  .exKatrori {
    width: 90%;
    height:800px;
    margin-bottom: 45px;
  }
  
  #pjesaCakes {
    height: 100%;
  }


  .fotoMenu h1 {
    font-size: 2rem;
    padding: 100px;
    font-size: 1.2rem;
  }

  .dessMenu {
    height: 140px;
  }
  
  .dessMenu h3 {
    font-size: 27px;
    height: 100px;
  }
  .menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }
  .elementet {
    flex-wrap: wrap;
  }
  .kolona1 {
    display: flex;
    border: 1px solid red;
    height:max-content;
    flex-direction: column;
  }
  
  .kolona2 {
    display: flex;
    height: max-content;
    flex-direction: column;
  }
  
  .k1 {
    width: 500px;
    border: 3px solid black;
    margin: 10px;
    height: 150px;
    margin-bottom: 40px;
    display: flex;
  }
  
  .fotojaKatrore {
    width: 120px;
    height: 120px;
  }
  
  .fotojaKatrore img {
    width: 120px;
    height: 120px;
  }
  
  .data {
    width: 350px;
    height: 110px;
    margin-left: 14px;
  }
  
  .data p {
    font-size: 15px;
  }
  .data h2{
    font-size: 21px;
  }
  
  .data a{
    height: 100%;
    display:inline;
    width:fit-content;
  }
  .butoniOrder {
    margin-bottom: 10px;
    margin-left: 260px;
    width: 90px;
    height: 30px;
    border-radius: 14px;
    background-color: #ffcad4;
    border: none;
    cursor: pointer;
  }
  .butoniOrder:hover{
    background-color: #9d8189;
  }
  
  .fotojaBack {
    width: 100%;
    height: 100%;
  }
  
  .fotojaBack h3 {
    font-size: 25px;
    padding-top: 28px;
  }
  .katrori1 {
    height: 200px;
    width: 400px;
    margin: 0 auto;
  }
  .legjenda {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #katrori2 {
    width: 60%;
    margin:0 auto;
    height: 400px;
  }
  
  .menuImg {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  .menuImg img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
  }
  .menuData h2{
    font-size: 20px;
  }
  .menuData p {
    font-weight: bold;
    font-size: 18px;
  }
  
  .sasia {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }








  .regSz {
    margin-top: -30px;
    width: 350px;
    height: 440px;
  }

  .logSz {
    height: 370px;
    width: 350px;
  }
  .reg {
    width: 300px;
    height: 460px;
  }
  .inputReg {
    margin-top: -5px;
  }
  .inputReg input {
    font-size: 14px;
    padding: 2px;
    margin-top: -15px;
    border-radius: 3px;

  }
  .inputReg p {
    font-size: 15px;
    font-weight: 500;
  }
 
  .reg button {
    align-items: center;
    height: 33px;
    font-weight: 550;
    border-radius: 5px;
  }

  .logp input {
    font-size: 15px;
    padding: 2px;
    margin-top: -15px;
    border-radius: 3px;
  }
  .logp p {
    font-size: 15px;
    font-weight: 500;
  }
}


/*per iphone xr*/
@media only screen and (max-width:414px) {
  .toggle-buttonn{
    display: flex;
  }

  #navbar #navUl {
    display: none;
    flex-direction: column;
    margin-bottom: 3px;
    padding-right: 40px;
    width:375px;
    align-items: center;
    background-color: #f4acb7;
  }
  #navbar {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;    
  }
  #navbar #navUl a {
    margin-left: 20px;
    margin-bottom: 4px;
  }
  #navbar #navUl#active{
display: flex;
  }
  /*---------------Pjesa e img slider-----------------*/

  .homepageSlider .slide img {
    height: 420px;
  }

  .homepageSlider .slide .sliderInfo h2 {
    font-size: 22px;
  }

  
  /*---------------fundi i img slider-----------------*/

  .middleContent h1 {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .exploreThem {
    height: 680px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .exploreKatrori {
    width: 210px;
    height: 210px;
    border-radius: 20px;
  }
  
  
  .exploreKatrori a {
    margin-top: 130px;
    text-decoration: none;
    color: white;
    height: 70px;
  }
  
  footer {
    height: 130px;
  }
  .dbi{
    display: none;
  }
  .footerIcons {
    height: 23px;
  }


  .fotoMenu {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fotoMenu h1 {
    display: block;
    width: 100%;
    padding: 100px;
  }
  .teksti {
    text-align: center;
    justify-content: center;
    width: 100%;
  }
  
  .textCategory {
    color: rgb(141, 53, 126);
  }
  
  .dessMenu {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #ffe5d9;
  }
  
  .dessMenu h3 {
    font-size: 14px;
    text-align: center;
    margin: 0 auto;
    padding: 12px;
  }
  .menu {
    background-color: #ffe5d9;
    width: 100%;
    height: 1000px;
  }
  .elementet {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:fit-content;
  }
  .kolona1 {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .kolona2 {
    display: flex;
    height:fit-content;
    flex-wrap: wrap;
    flex-direction: column;
    
  }
  
  .k1 {
    border: 1px solid gray;
    width: 300px;
    margin: 20px;
    height: 130px;
    margin-bottom: 10px;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    background-color: white;
  }
  
  .fotojaKatrore {
    width: 60px;
    height: 60px;
    border-radius: 15px;
  }
  
  .fotojaKatrore img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    object-fit: cover;
  }
  
  .data {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 90%;
    margin-left: 20px;
  }
  
  .data p {
    font-size: 12px;
  }
  .data h2{
    font-size: 12px;
  }
  .data a{
    margin-top: -42px;
  }
  .butoniOrder {
    margin-left: 170px;
    margin-bottom: -12px;
    width: 45px;
    height: 50px;
    border-radius: 14px;
   
  }


  .fotojaBack {
    padding-bottom: 20px;
    width: 100%;
    height: fit-content;
  }
  
  .fotojaBack h3 {
    font-size: 22px;
    margin-bottom: 14px;
    padding-top: 20px;
  }
  .katrori1 {
    height: 183px;
    width: 300px;
    margin:0 auto;
    display: flex;
  }
  .legjenda {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #katrori2 {
    margin: 0 auto;
    height: 420px;
    width: 80%;
  }
  
  .menuImg {
    margin-top: 8px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }
  
  .menuImg img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 15px;
  }
  
  .menuData {
    margin-left: 24px;
  }
  .menuData h2{
    font-size: 18px;
  }
  .menuData p {
    font-weight: bold;
    font-size: 18px;
  }
  .sasia {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .inputiSasia {
    width: 96%;
    height: 30px;
    border: 2px solid gray;
    font-size: 14px;
  }
   
  


  #pjesaCakes {
    display: flex;
    height: max-content;
    justify-content: center;
  }
  .exKatrori{
    display: flex;
    justify-content: center;
  }
  .katroratt{
    width: 120px;
    height: 140px;
  }
  .katroratt a {
    margin-top: 80px;
    text-decoration: none;
    color: white;
    height: 40px;
    font-size: 12px;
  }
 







  #registerContainer {
    border: 1px solid black;
    height: 896px;
    width: 100%;
  }
  .registerBg {
    background-image: url("../images/1.jpg");
  }
  .loginBg {
    background-image: url("../images/1.jpg");
  }
  .regSz {
    margin-top: -80px;
    width: 360px;
    height: 590px;
  }
  .logSz {
    height: 470px;
    width: 360px;
  }
  .reg {
    width: 300px;
    height: 590px;
  }
  .inputReg {
    margin-top: -10px;
  }
  .inputReg input {
    font-size: 20px;
    padding: 7px;
    margin-top: -2px;
    border-radius: 2px;
  }
  .inputReg p {
    font-size: 18px;
    font-weight: 500;
  }
  .reg button {
    height: 39px;
  }

  .logp input {
    font-size: 20px;
    padding: 7px;
    margin-top: -5px;
  }
  .logp p {
    margin-top: 30px;
    font-size: 18px;
  }
  
}
/*---------------PJESA E LOGIN-----------------*/
