/*

*/
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.adminWrapper {
  padding: 1%;
  width: 80%;

  margin: 0 auto;
}
.footerCenter {
  text-align: center;
}
.adminFooter {
  background-color: #f4acb7;
  color: white;
}


.adminMenu ul{
list-style-type: none;
}
.adminMenu{
    background-color: #f4acb7;
}
.adminMenu ul{
    font-style: none;
    width: 400px;
    display: flex;
    
    flex-direction: row;
    padding: 1%;
    justify-content: space-between;
}
.adminMenu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;

}
.adminMenu ul li a:hover{
    cursor: pointer;
    color: #b7b7a4;
    font: bold;
}

.contentW{
    display: flex;
    padding: 3% 0;
}
.adminMainContent h2{
border: 1px solid gray;
display: flex;
padding: 3% 0;
justify-content: center;
}
.AdminCol-4{
    width: 18%;
    margin: 2%;
    padding: 2%;
    border: 1px solid red;
}
